/* All styles for your Card Components live here */
.card{
    border:1px black solid;
    width: 590px;
}
.clickable{
    cursor: pointer;
    border:lightgray solid 1px;
    border-radius: 15px;
    margin:10px;
    margin-left:60px;
}
.card img{
    max-width: 100%;
}
.cardText{
    padding-left: 1rem;
}